:root{
     --color1: #000000;
}


.cardWrraper{
    min-width: 98%;
    background-color:#FFFF;
    padding: 15px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 1vw;
}


.cardContainerDelete{
    min-width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    cursor: pointer;
}

.cardContainerImage{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.binImage{
    width: 146px;
    height: 136px;
}

.cardContainerName{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1vw;
}
.cardName{
    color:  var(--color1);
    font-weight: 700;
}

.cardPrice{
    color: #AAAAAA;
    font-weight: 600;
}


.cardWrraperCounter{
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardContainerCounter{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.cardCounterValue{
    color: var(--color1);
    font-weight: 600;
}

.cardTotalPrice{
    color: #1C1C27;
    font-weight: 600;
}

/* =======================================Media================================ */
